.profile__btn-edit {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/EditButton.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #000;
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.profile__btn-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
  }
}