.popup__btn-save {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  width: 360px;
  height: 54px;
  position: absolute;
  bottom: 36px;
  left: 36px;
}

.popup__btn-save:hover {
  opacity: 0.8;
}

.popup__btn-save:hover:disabled {
  opacity: 0.2;
}

@media screen and (max-width: 530px) {
  .popup__btn-save {
    font-size: 14px;
    line-height: 17px;
    left: 22px;
    bottom: 25px;
    width: 241px;
    height: 49px;
  }
}