.header__logo {
  margin-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-top: 28px;
    padding-left: 27px;
    max-width: 103.74px;
    padding-bottom: 30.6px;
  }
}