.popup__container {
  max-width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 0;
}

@media screen and (max-width: 530px) {
  .popup__container {
    max-width: 282px;
    height: 322px;
  }
}