.profile__btn-add {
  background-image: url(../../../images/btnadd.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  padding: 0;
  position: absolute;
  right: 0;
}

.profile__btn-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .profile__btn-add {
    position: relative;
    width: 88.13%;
    margin: 34px auto 0;
    background-size: 16px;
  }
}