.profile__btn-add {
  background-image: url(../../../images/btnadd.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;
  min-width: 150px;
  height: 50px;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .profile__btn-add {
    max-width: 88.13%;
    margin: 34px auto 0;
    background-size: 16px;
    width: 282px;
  }
}