.footer {
  margin: 0 auto;
  padding-top: 67px;
  max-width: 880px;
}

@media screen and (max-width: 1000px) {
  .footer {
    max-width: 67%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 320px;
    margin-left: 19px;
    padding-top: 48px;
  }
}