.popup__btn-exit {
  background: transparent;
  background-image: url(../../../images/exit.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__btn-exit:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .popup__btn-exit {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}