.profile__btn-edit {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/EditButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  background-size: 10px;
  border: 1px solid #fff;
  margin: 0;
}

.profile__btn-edit:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 1000px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .profile__btn-edit {
    background-size: 7.5px;
  }
}