.photo {
  margin: 48.25px auto 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 20px 17px;
  max-width: 880px;
}

@media screen and (max-width: 1024px) {
  .photo {
    max-width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .photo {
    max-width: 100%;
    margin-top: 36px;
  }
}